.ContentMypage
  .MypageTop
    .MypageImage
      - if @user.image?
        = image_tag @user.image.url, class: "UserImage__icon"
      - else
        = image_tag asset_path("No-image.png"), class: "NoImage__icon"
    .MypageName
      = @user.name

  .MypageMiddle 
    %h1 About Me
    %table.ShowTable
      %tr
        %th 名前
        %td.name 
          = @user.name
      %tr
        %th メールアドレス
        %td.email
          = @user.email
      %tr
        %th パフォーマンススキル
        %td.genre
          = @user.genre
      %tr
        %th 自己紹介
        %td.introduction
          = @user.introduction
    - if user_signed_in? && current_user.id == @user.id
      = link_to "プロフィール編集", edit_user_path(@user.id), method: :get, class: "edit"

  .ApplicatedEventName 申し込み済みのイベント一覧

  .ApplicatedEvent
    - @entry_events.each do |event| #自分が申し込んだイベントの情報を表示
      .Overview
        .Overview--name
          = event.eventname
        .Overview--image
          = image_tag event.images.first.image.url

  .To-ChatRoom
    - unless @user.id == current_user.id
      - if @isRoom == true
        %p.user-show-room
          %a.btn.btn-primary.btn-lg{:href => "/rooms/#{@roomId}"} メッセージを送る
      - else
        = form_for @room do |f|
          = fields_for @deal do |e|
            = e.hidden_field :user_id, value: @user.id
          = f.submit "メッセージを送る", class:"btn btn-primary btn-lg user-show-chat"
      

