.ContentMypage
  .MypageTop
    .MypageImage
      - if @user.image?
        = image_tag @user.image.url, class: "UserImage__icon"
      - else
        = image_tag asset_path("No-image.png"), class: "NoImage__icon"
    .MypageName
      = @user.name

  .MypageMiddle 
    %h1 About Me
    %table.ShowTable
      %tr
        %th 名前
        %td.name 
          = @user.name
      %tr
        %th メールアドレス
        %td.email
          = @user.email
      %tr
        %th パフォーマンススキル
        %td.genre
          = @user.genre
      %tr
        %th 自己紹介
        %td.introduction
          = @user.introduction
    = link_to "プロフィール編集", edit_user_path(@user.id), method: :get, class: "edit"

