.Event
  %h1.name
    = event.eventname
  %ul.important
    %li.reward 報酬：
    = event.reward
    円
    %li.genre 募集ジャンル：
    = event.genre
  %table
    %tr
      %th 
        = image_tag event.images.first.image.url
      %td.detail イメージ図
    %tr
      %th 日時
      %td 
        = event.datetime.strftime("%Y年%m月%d日")
    %tr
      %th 開催場所
      %td 
        = event.place
    %tr
      %th 募集人数
      %td 
        = event.limit

  .Auth-Area
    - if user_signed_in? && current_user.id == event.recruiter_id #ログインしているユーザーIDとイベント作成者のIDが一致しているかどうか
      = link_to "詳細を見る", event_path(event.id), method: :get, class: "show-btn"
      = link_to "イベントを削除する", event_path(event.id), method: :delete, class: "Event-delete"
    - else
      = link_to "詳細を見る", event_path(event.id), method: :get, class: "show-btn"
  
  .Event-host
    .Event-host--name イベント作成者：
    .Event-host--image
      - if event.recruiter.image.url
        = image_tag event.recruiter.image.url, class: "UserImage__icon"
      - else
        = image_tag asset_path("No-image.png"), class: "NoImage__icon"
    %p.recruiter-name
      = event.recruiter.name

    

 