.Event
  %h1.name 
    = @event.eventname
  %ul.important
    %li.reward 報酬：
    = @event.reward
    円
    %li.genre 募集ジャンル：
    = @event.genre
  .Event--image
    = image_tag @event.images.first.image.url
  %table
    -# %tr
    -#   %th 
    -#     = image_tag @event.images.first.image.url
    -#   %td.detail イメージ図
    %tr
      %th 日時
      %td 
        = @event.datetime.strftime("%Y年%m月%d日")
    %tr
      %th 開催場所
      %td 
        = @event.place
    %tr
      %th 募集人数
      %td 
        = @event.limit
  %p.item 【  詳細説明  】
  %p.details 
    = @event.details

  - if @event.recruiter_id == current_user.id
    %h1.EventOwener あなたはイベント作成者です。
  - elsif @event.entries.where(user_id: current_user.id).exists?
    %h1.EventOwener このイベントは申し込み済みです。
  - else
    .Application
      = link_to "申し込む", event_entries_path(@event.id), id: "JoinEvent", class: "ApplicationSubmit", method: :post
      -# = form_with model: [@event, @entry], local: true, class: 'EventApplication' do |f|
        -# = f.text_field :name, placeholder: "name", size: 30, class: "input"
        -# = f.email_field :email, placeholder: "sample@.com", class: "input"
        -# = f.text_field :phoneNumber, placeholder: "XXX-XXXX-XXXX", class: "input"
        -# = icon("fas", "video", class: "video")
        -# = f.label :video do
        -#   = f.file_field :video, :accept => 'video/*', class: "Hidden"
        -# = f.submit "申し込む", class: 'ApplicationSubmit'

  .MainShow__box__comment
    .Title
      コメント一覧
    .MainShow__box__comments#Comments
      - if @comments
        - @comments.each do |comment|
          .MainShow__box__comments__comment
            .Profile
              .Profile__right
                .Image
                  - if comment.user.image?
                    = image_tag comment.user.image.url, class: "user-circle"
                  - else
                    = icon('far', 'smile-wink', class: "user-circle" )
                .Seller_or_buyer
                  = comment.user.name
            .Comment
              .Comment__text
                = comment.content
              .Comment__bottom
                .Comment__date
                  = icon('far', 'clock')
                  = comment.created_at.strftime("%Y年%m月%d日 %H時%M分")
                .Comment__trash
                  = link_to event_comment_path(comment.event.id, comment.id), "event_id": :@event, method: :delete do
                    = icon('fa', 'trash')
    - if current_user
      = form_with model: [@event, @comment], local: true, class: "New_comment", id: "comment_form" do |f|
        = f.text_area :content, required: "required", class: "Text_area", placeholder: "コメントする"
        %p.note
          イベントの疑問点についてコメントをしてみましょう。
          %br 不快な言葉遣いなどは利用制限や退会処分となる場合があります。
        .Send
          = f.submit "コメントする", class: "Comment__btn"
    - else
      %p.note
        イベントへの申込みやコメントの投稿には新規会員登録/ログインが必要です。
  
  %h2 申込者一覧
  
  .Applicant
    - @applicants.each do |applicant|
      .Applicant__Members
        .Applicant__Members--image
          - if applicant.user.image?
            = image_tag applicant.user.image.url, class: "Applicant-image"
          - else  
            = image_tag asset_path("No-image.png"), class: "NoImage__icon"
        .Applicant__Members--name
          = link_to user_path(applicant.user.id), class: "To-applicant" do
            = applicant.user.name